html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;

  /* Add these lines for your background image */
  background: fixed center url("/Freshwater_spring_next_to_Mono_Lake-1000px.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
/* Set up some CSS variables to theme the application */
:root {
  --nat-navbar-bg: darkblue;
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: khaki;
}

/* Change Bootstrap variable values */
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
}

/* Navbar color overrides */
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

/* Footer text color */
footer,
footer a {
  color: var(--nat-navbar-text-color);
}

/* Fix dropdown text so it's readable */
.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}
